* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.log-in {
    /* background-color: rgb(197, 96, 29); */
    display: flex;
    margin: 0 80px;
    gap: 140px;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.right {
    /* background-color: yellow; */
}

.left {
    /* background-color: blue; */

}
 .google { 
    margin-top: 10px;
    margin-bottom: 20px; 
 
}
.divide{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.google a {
    justify-items: center;
    text-decoration: none;
    color:#161616;
    background: white;
    padding: 10px 170px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    letter-spacing: 0.03em;
    
}

.left h1 {
    text-align: center;
    align-self: center;
    margin-bottom: 35px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    letter-spacing: 0.03em;

}

.mail p {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    letter-spacing: 0.03em;
    text-align: left;
}

.mail input {
    width: 534px;
    height: 40px;
    padding-left: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 20px;

}

.pass p {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    letter-spacing: 0.03em;
    text-align: left;

}

.pass input {
    width: 534px;
    height: 40px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    letter-spacing: 0.03em;
    text-align: left;
    align-self: center;
    margin-bottom: 20px;
    justify-content: center;

}

.log {
    margin-top: 40px;
}

.log a {
    text-decoration: none;
    color: white;
    background: #295251;
    padding: 14px 240px;
    border-radius: 8px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;


}

.foot,
.foot a {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
}